div {
    width: 50%;
    /* sposób nr 1 */
    /* display: flex; */
}

p {
    float: left;
    /* sposób nr 2 */
    /* width: 40% */
    width: 50%;
    /* sposób nr 3 */
    /* padding: 0 */
    padding: 5%;
}